@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grapefruit: #ff5a5a;
  --warm-grey: #9b9b9b;
  --greenish-teal: #2ecc71;
}

body {
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

.department-card {
  max-width: 442px;
  min-height: 493px;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0);
}
